.app_header_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.344);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &logo {
        color: yellow;
    }

    &link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;


    }

    &link_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        color: white;
    }
}